<section class="hero" style="display: grid;">
  <div class="hero__background">
	  <h2 class="equipment__title" style="padding-top: 50px">Управляем климатом</h2>
    	  <canvas class="canvas canvas_fluid"></canvas>
  </div>
  <div class="container hero__container">
	<div id="container" style="position: absolute; top: 20%; left: 0%; align: center"></div>
    <div class="hero__top">
      <h1 class="hero__title">

    </div>
    <div class="hero__bottom">

    </div>
  </div>
  <button class="popular-item__theme" id="button" style="position: absolute; top: 90%; left: 45%; z-index: 10" >Оснащение и каталог</button>	
</section>
