<section class="hero" style="display: grid;">
  <div class="hero__background">
	<h2 class="equipment__title" id="title" style="padding-top: 3%">Управляем климатом</h2>
	<canvas class="canvas canvas_fluid"></canvas>
  </div>
  <div class="container hero__container">
	<div id="container" style="position: absolute; top: 15%; left: 0%; align: center; width: 100%; height: 100%; display: block;"></div>
    	<div class="hero__top">
      		<h1 class="hero__title"></h1>	
     	</div>
    	<div class="hero__bottom"> </div>
  </div>
	<button class="popular-item__theme" id="button" style="position: absolute; top: 90%; left: 45%; z-index: 10; transform: scale(1.5)">Перейт на сайт</button>	
</section>
