<section class="hero" style="display: grid;">
  <div class="hero__background">
	  <h2 class="equipment__title" style="padding-top: 50px">Управляем климатом</h2>
	  <div id="container" style="position: relative; align: center"></div>
	  <button class="popular-item__theme" id="button" style="position: absolute; top: 95%; left: 45%; z-index: 10" >Оснащение и каталог</button>
    <canvas class="canvas canvas_fluid"></canvas>
  </div>
  <div class="container hero__container">
	
    <div class="hero__top">
      <h1 class="hero__title">

    </div>
    <div class="hero__bottom">

    </div>
  </div>
	
</section>
